<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap4.min.css') }}">
</head>
<body>
    <table class="table table-bordered">
        <thead><tr>
            <th>CourseNumber</th>
            <th>CourseName</th>
            <th>Semester</th>
            <th>Credit</th>
            <th>Time</th>
            <th>location</th>
        </tr></thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.coursenumber }}</td>
                    <td>{{ course.coursename }}</td>
                    <td>{{ course.semester }}</td>
                    <td>{{ course.credit }}</td>
                    <td>{{ course.time }}</td>
                    <td>{{ course.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>