{% extends 'teacher/layout.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

    <a class="navbar-brand " href="teacherHome">Teacher Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="students">Students<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="teacherHome">Home</a>
            <a class="nav-item nav-link" href="courses" tabindex="-1">Courses</a>
            <a class="nav-item nav-link" href="teacherevents" tabindex="-1">Events</a>
            <a class="nav-item nav-link" href="teacherschedule" tabindex="-1">Schedule</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}" tabindex="-1">logout</a>
        </div>
    </div>
</nav>

<div class="card border-success text-info bg-dark mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ student.firstname }} {{ student.lastname }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ student.user_id }}</h6>
    </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ student.nationality }}</li>
      <li class="list-group-item">{{ student.mobile}}</li>
      <li class="list-group-item">{{ student.email}}</li>
      <li class="list-group-item">{{student.gender}}</li>
      </ul>
  </div>

{% endblock content %}